html {
    background-image: url(../images/crossline-lines.png);
}
header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
}
#header-content::after {
    content: "";
    clear: both;
    display: auto;
}
#name{
    padding: 20px 30px 20px 30px;
    background-color: #4aaaa5;
    font-size: 25px;
    font-weight: bolder;
    color: #fff;
    float: left;
}
#nav {
    float: right;
    width: 450px;
    height: 30px;
    margin-top: 26px;
}
a {
    padding-left: 34px;
    font-size: 20px;
    text-decoration: none;
    float: right;
    color: #666;
}
a:hover {
    text-decoration: underline;
}
footer {
    background-color: #666;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    border-top: 4px solid #4aaaa5;
}

#header-content {
    margin: 0 auto;
    width: 960px;
}



